1. Title 

Two variants:

a. font: 18px bold
b. font: 16px 500


2. Warning

Three variants:

a.
width: 30px;
height: 18px;
border-radius: 9px;
color: #ee3124

font-weight:800
font-size: 12px
color: white

b. same as 'a' except for 
backgroundcolor: white,
color: grey
border: 1px solid grey

c. No Warning : TO DISCUSS WITH Dunco

3. Main Section

Distance from the left: 92px;

Two variations:


One variation:

width: 481px;
height: 65px;

Second variation:
height: 60px;

4. chart Area in dark theme
height: 54px;
width: 335px;

chart Area in light theme
not mentioned

